body {
  font-family: "Raleway";
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader.gif) center center no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgb(0, 0, 0, 0.4);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/next.png);
}
.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/next.png);
  transform: rotate(180deg);
}

.titleMessage {
  width: 100%;
  height: 250px;
  top: 50%;
  position: absolute;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 23px;
}

#navigation {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0px 10px;
}

#navigation li a {
  color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.fa-bars {
  color: #fff;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  border-radius: 10px;
  width: 100%;
}

#about p {
  font-size: 13pt;
}

.skillsSection,
.contactSection {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: #fff;
}

.skillsSection .col-md-12 p {
  margin-bottom: 40px;
}

.skill {
  text-align: center;
  margin-left: 10px;
  font-family: "Roboto";
}

.skill h4 {
  margin-top: 7px;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
}

.owl-next {
  right: -50px;
}

.owl-prev {
  left: -50px;
}

.owl-prev i,
.owl-next i {
  font-size: 40px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}
.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer:hover .fa-bolt {
  color: #ffc312;
}

#bolt.squareInnerContainer:hover {
  border: 2px solid #ffc312;
  border-top: none;
}

#bolt.squareInnerContainer:hover::before,
#bolt.squareInnerContainer:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #ffc312;
}

.squareInnerContainer:hover .fa-mobile {
  color: #12cbc4;
}

#mobile.squareInnerContainer:hover {
  border: 2px solid #12cbc4;
  border-top: none;
}

#mobile.squareInnerContainer:hover::before,
#mobile.squareInnerContainer:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #12cbc4;
}

.squareInnerContainer:hover .fa-lightbulb {
  color: #2ecc71;
}

#lightbulb.squareInnerContainer:hover {
  border: 2px solid #2ecc71;
  border-top: none;
}

#lightbulb.squareInnerContainer:hover::before,
#lightbulb.squareInnerContainer:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #2ecc71;
}

.squareInnerContainer:hover .fa-rocket {
  color: #ea2027;
}

#rocket.squareInnerContainer:hover {
  border: 2px solid #ea2027;
  border-top: none;
}

#rocket.squareInnerContainer:hover::before,
#rocket.squareInnerContainer:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #ea2027;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent {
  margin: 10px;
}

.squareContent h2 {
  font-size: 24pt;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Raleway-bold";
  color: #616161;
}

.squareContent h3 {
  font-size: 12pt;
  font-family: "Raleway";
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 46px;
  margin-left: -20%;
  color: #444;
}

.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #2cb5e8;
  background-color: #fff;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 13px 5px;
}

.copyrightSection p {
  margin: 0;
}
